/*test*/

.dd{
	background: gold;
	width: 200px;
	height: 100px;
	margin: 20px;
	font-weight: bold;
}

.d1:hover{
	background: black;
}

.d2:active{
	background: black;
}

.d3:active{
	background: black;
}



@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);


@keyframes rotating {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@keyframes reducing {
	from {width: 600px;}
	to {width: 0;}
}

@keyframes vinyl-moving {
	from {margin-right: 0;}
	to {margin-right: -530px;}
}


body{
	background: #eee;
	margin: 100px;
	font-family: 'Roboto', Calibri;
	color: #777;
	font-weight: 300;
}


#original{
	height: 200px;
	margin-top: 200px;
}

.music{
	background: #fff;
	width: 800px;
	height: 150px;
	box-shadow: 0px 0px 20px 10px rgba(217, 217, 217, 0.75);
	position: relative;
	margin: auto;
}

.album-container{
	height: 150px;
	width: 180px;
	float: left;
	overflow: hidden;
}

.album-cover{
	box-sizing: border-box;
	height: 150px;
	width: 150px;
	padding: 8px;
	box-shadow: 10px 0px 10px 0px rgba(217, 217, 217, 0.75);
	transition: .5s;
}

.song-title{
	padding-top: 40px;
	margin: 0 0 0 220px;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	transition: .14s;
}

.group-title{
	margin-top: 20px;
	margin-left: 220px;
	font-size: 18px;
	color: #aaa;
	font-weight: 300;
	transition: .25s;
}

.circle,
.vinyl{
	position: absolute;
	right: 80px;
	top: -50px;
	transition: .5s;
}

.circle{
	width: 100px;
	height: 100px;
	cursor: pointer;
	box-shadow: 0px 0px 20px 5px rgba(217, 217, 217, 0.75);
	background: #fff;
	border-radius: 50%;
	
}

.vinyl img{
	width: 100px;
	height: 100px;
	border-radius: 50%;

}

.visualization{
	position: absolute;
	overflow: hidden;
	height: 30px;
	width: 50px;
	overflow: hidden;
	right: 105px;
	top: 0;
	transition: .5s;
}


.triangle{
	border: 18px solid transparent;
	border-left: 24px solid #D32F2F;
	margin-top: 32px;
	margin-left: 40px;
	transition: .5s;
}

.time{
	position: absolute;
	right: 85px;
	top: 72px;
	font-size: 18px;
	transition: .25s;
}

.time::before{
	content: '';
	display: inline-block;
	margin-right: 20px;
	vertical-align: bottom;
	background: url('img/time.png') no-repeat;
	width: 24px;
	height: 24px;
	opacity: 0.5;
}



.visualization div{
	display: inline-block;
	vertical-align: middle;
	width: 4px;
	background: #D32F2F;
}


/* AFTER CLICK ON PLAY*/


.playing .group-title,
.playing .song-title,
.playing .time{
	opacity: 0;
}


.playing .album-cover{
	transform: translate(-180px, 0);
}

.playing .circle{
	transform: translateY(75px)
}

.playing .vinyl{
	transform: translate(-540px, 75px);
	
	animation: vinyl-moving 245s infinite linear .5s;
}

.playing .vinyl img{
	animation: rotating .5s infinite linear .5s;

}

.playing .triangle{
	border: none;
	border-right: 6px solid #D32F2F;
	border-left: 6px solid #D32F2F;
	width: 12px;
	height: 24px;
	margin-top: 38px;
	margin-left: 40px;
}

.playing .visualization{
	width: 600px;
	transform: translateY(57px);
	animation: reducing 245s infinite linear .5s;
}










